/* .floating-header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: fit-content;

    border-radius: 34px;
    justify-content: space-between;
    min-width: 80vw;
  }
  

.logo {
  width: auto;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
  
  filter: invert(0) brightness(1.2);
}

.floating-header
.img img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid rgb(77, 77, 77)
} */

.floating-header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: fit-content;
    /* background-color: #020202; */
    border-radius: 34px;
    justify-content: space-between;
    min-width: 80vw;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); */
  }
  
  .logo {
    height: 50px;
    object-fit: contain;
    border-radius: 10px;
    /* filter: invert(0) brightness(1.2); */
  }
  
  .floating-header .img img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid rgb(77, 77, 77);
    margin-left: 15px;
  }
  