
.navbar-custom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background: radial-gradient( ellipse at top,#1a1a1a 0%,#0d0d0d 100%) ;  
}  
.logo {
  height: 50px;
  object-fit: contain;
}
  

  